@mixin btnCalc {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.7em;
    border: none;
    border-radius: 5px;
}