//theme 1

$VeryDarkDesaturatedBlueFirst : hsl(222, 26%, 31%);
$VeryDarkDesaturatedBlueSecond : hsl(223, 31%, 20%);
$VeryDarkDesaturatedBlueThird : hsl(224, 36%, 15%);
$VeryDarkGrayishBlue: hsl(221, 14%, 31%);
$White: hsl(0, 0%, 100%);
$Red: hsl(6, 63%, 50%);
$DarkRedShadow : hsl(6, 70%, 34%);
$DesaturatedDarkBlue: hsl(225, 21%, 49%);
$DesaturatedDarkBlueShadow : hsl(224, 28%, 35%);
$LightGrayishOrange: hsl(30, 25%, 89%);
$GrayishOrangeShadow: hsl(28, 16%, 65%);

//theme 2

$LightGray : hsl(0, 0%, 90%);
$GrayishRed : hsl(0, 5%, 81%);
$VeryLightGray : hsl(0, 0%, 93%);
$DarkModerateCyan : hsl(185, 42%, 37%);
$VeryDarkCyan : hsl(185, 58%, 25%);
$Orange : hsl(25, 98%, 40%);
$DarkOrange: hsl(25, 99%, 27%);
$LightGrayishYellow : hsl(45, 7%, 89%);
$DarkGrayishOrange : hsl(35, 11%, 61%);
$VeryDarkGrayishYellow: hsl(60, 10%, 19%);

//theme 3

$veryDarkViolet: hsl(268, 75%, 9%);
$veryDarkVioletToggleBg: hsl(268, 71%, 12%);
$darkVioletKeyBg: hsl(281, 89%, 26%);
$vividMagentaKeyShadow: hsl(285, 91%, 52%);
$pureCyanKeyBg: hsl(176, 100%, 44%);
$softCyanKeyShadow: hsl(177, 92%, 70%);
$veryDarkVioletKeyBg: hsl(268, 47%, 21%);
$darkMagentaKeyShadow: hsl(290, 70%, 36%);
$lightYellowText: hsl(52, 100%, 62%);
$veryDarkBlueText: hsl(198, 20%, 13%);
$whiteText: hsl(0, 0%, 100%);


$font : 'League Spartan', sans-serif;
$url: 'https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap';